services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/social_media
      - JWT_SECRET=your_jwt_secret_key
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  json_server:
    image: clue/json-server
    ports:
      - "4000:80"
    volumes:
      - ./json-serveur/db.json:/data/db.json
    command: -H 0.0.0.0

volumes:
  mongodb_data:
